<div class="container">
    <div class="inner">
        Establish Market
        <img class="logo" [src]=myimage1>
    </div>
    <form>
        <span>
            <div class="names">
                <form class="form-inline">
                <input type="text" class="form-control" id="tt"  placeholder="First Name">
                <input type="text" class="form-control" id="tt"  placeholder="Last Name">
                <input type="number" class="form-control" id="nm"  placeholder="Contact Number">
                <input type="email" class="form-control" id=""  placeholder="Email Address">
                <select class="form-control" id="sl">
                    <option value="" disabled selected>Type of Store</option>
                    <option>Meal</option>
                    <option>Beverage</option>
                    <option>Dessert</option>
                    <option>Snacks</option>
                </select>
                <input type="text" class="form-control" id="nm"  placeholder="location">
            </form>
            <input type="text" class="form-control" id="sn"  placeholder="Store Name">
            <textarea input type="text" class="form-control" id="dc"  placeholder="Description"></textarea>
                <h5>Choose your product image</h5>
                <input type="file" class="form-control" id="im"  placeholder="location">
                <div class="test">
                  <input class="cb" type="checkbox" name="">
                        <label>By proceeding, I agree that FoodMarket can collect, use and disclose the information<br> provided by me in accordance with the
                            <a href="#"> Privacy Policy</a> and I fully comply with<a href="#"> <br>Terms & Conditions</a> which I have read and understand.</label><br>
                </div>
                <button class="btn" type="submit">Establish</button>
            </div>
        </span>
    </form>
</div>
