<div class="container">
    <div class="inner">
        Establish Market
        <img class="logo" [src]=myimage1>
    </div>
    <form>
        <span>
            <div class="names">
                <input  type="text" placeholder="First Name" name="">
                <input  type="text" placeholder="Last Name" name="">
                <input class="nm"  type="number" placeholder="Contact Number" name="">
                <input  type="email" placeholder="Email Address" name="">
                <input class="nm"  type="text" placeholder="Type of Store" name="">
                <input  type="text" placeholder="Location" name="">
                <input class="sn"  type="text" placeholder="Store Name" name="">
                <input class="dc"  type="text" placeholder="Description" name="">
                <h5>Choose your product image</h5>
                <input class="im"  type="file" placeholder="image" name="">
                <div class="test">
                <input class="cb" type="checkbox" name="">
                        <label>By proceeding, I agree that FoodMarket can collect, use and disclose the information<br> provided by me in accordance with the 
                            <a href="#"> Privacy Policy</a> and I fully comply with<a href="#"> <br>Terms & Conditions</a> which I have read and understand.</label><br>
                </div>
                <button class="btn" type="submit">Establish</button>
            </div>
        </span>
    </form>
</div>