<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="" [src]=myimage2 width="auto" height="65">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarmenu">
            <a class="dropdown-item" href="#">Meal</a>
            <a class="dropdown-item" href="#">Beverage</a>
            <a class="dropdown-item" href="#">Dessert</a>
            <a class="dropdown-item" href="#">Snacks</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarinfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Info
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarinfo">
            <a class="dropdown-item" href="#">Establish Market</a>
            <a class="dropdown-item" href="#">Contact</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br>
  <br>