body {
    margin: auto;
}

.navbar {
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba($color: #fffbfb, $alpha: 0.8) !important;
}

.navbar li {
    font-family: 'Lucida Sans';
    font-weight: bold;
    margin-left: 30px;
}

.btn{
    margin-right: 10px;
    color: black;
    background-color: whitesmoke;
    border-color: black;
  }

  .btn:hover {
    box-shadow: 1px 1px 2px rgb(7, 7, 7);
   background-color: #faf8f8;
  }