<br>
<div class="cont">
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <img class="logo" [src]=myimage1>
        <p>We present you the best FoodMarket in METRO MANILA, Make a choice in different kind of food in multiple sotres.</p>
      </div>  
      <hr class="clearfix  d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="">About</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" >What is FoodMarket</a>
          </li>
          <li>
            <a href="#!">Why choose FoodMarket</a>
          </li>
          <li>
            <a href="#!">How FoodMarket works</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Policies</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms and Condition</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="">Stay Connected</h5>
        <a href="#">
        <img class="fb" [src]=myimage2>
      </a>
      <a href="#">
        <img class="ig" [src]=myimage3>
      </a>
      <a href="#">
        <img class="twit" [src]=myimage4>
      </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    FoodMarket
  </div>
</footer>
</div>