.body {
    margin: auto;
    background-image: url('../../assets/image/wood1.jpg');
}
.try {
    margin-left: 20px;
    margin-top: 15%;
    width: 45%;
}

.tr {
    margin-left: 5px;
    margin-top: 13%;
    width: 26%;
}

// .tr1{
//     float: right;
//     margin-right: 40px;
//     width: 15%;
// }