body {
    font-family: 'Azonix';
    background-image: url(food\ logo2.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    letter-spacing: 2px;
}

.top {
    margin-left: 22%;
    margin-top: 10%;
    
}

.container {
    width: 400px;
    margin-left: 60%;
    margin-top: 55px;
    border-radius: 30px;
    background-color: #122436;
    box-shadow: 0 0 8px rgb(255, 254, 254);
    

}

.header h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: -15px;
}

.main {
    text-align: center;
}

.main input {
    width: 300px;
    height: 40px;
    border: outset;
    outline: none;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.main button {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 0;
    background-color: #2977ff;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 55px;
    margin-top: 10px;
}

.main button:hover {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-color: #13408f;
}

.main input:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    background-color: rgb(235, 235, 235);
}

.names input {
    width: 145px;
    height: 40px;
    border: outset;
    outline: none;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: auto;

}