<div class="container">
    <div class="inner">
    <img class="sl" [src]=myimage1>
    Burger Maniac
    <div class="in"> 
    <p>Quarter Pounder Burger 100% pure beef one of the best burger that you will ever have</p>
    <p>Location: Quezon City</p>
 <p>follow us: 
    <a href="#"><img class="sll" [src]=myimage5></a>
    <a href="#"><img class="sll" [src]=myimage6></a>
    <a href="#"><img class="sll" [src]=myimage7></a>
 </p>
</div>
    <img class="ple" [src]=myimage2>
    <img class="me" [src]=myimage3>
    <img class="bur" [src]=myimage4>
    <img class="bur" [src]=myimage4>
</div>

</div>