body {
    margin: auto;
}

.container {
    margin: auto;
    width: 100%;
    margin-top: 70px;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
}

.sl {
    margin-top: 10px;
    margin-bottom: 5px;
    width: auto;
    height: 300px;
    // margin-left: 10%;
  }

.inner {
    font-size: 90px;
    font-family: 'Rockwell';
    text-align: center;
}

.in {

    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 90%;
    margin-left: 5%;
}

.in p {
    color: whitesmoke;
    font-family: 'Lucida Sans';
    font-size: 30px;
    margin-top: 10px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.ple {
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px ;
}

.me {
    margin-top: 6%;
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}

.bur {
    margin-left: 20px;
    width: auto;
    height: 260px;
    margin-bottom: 20px;
}

.sll {
    margin-top: 10px;
    margin-bottom: 5px;
    width: auto;
    height: 40px;
    margin-left: 5px;
}