<html>
    <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="signup.component.scss">
</head>
<body>
    <div class="container">
        <div class="top">
            <img class="" [src]=myimage2 width="auto" height="130">
            </div>
        <div class="header">
            <h1>SIGN UP</h1>
        </div>
        <div class="main">
            <form>
                <span>
                    <div class="names">
                    <input type="text" placeholder="First Name" name="">
                    <input type="text" placeholder="Last Name" name="">
                </div>
                </span><br>
                <span>
                    <input type="text" placeholder="Username" name="">
                </span><br>
                <span>
                    <input type="text" placeholder="Email Address" name="">
                </span><br>
                <span>
                    <input type="password" placeholder="Password" name="">
                </span><br>
                <span>
                    <input type="password" placeholder="Confirm Password" name="">
                </span><br>
                <button type="submit" class="">Sign up</button>
            </form>
        </div>
    </div>
</body>
</html>