body {
    background-image: url('../../assets/image/wood.jpg');
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
  }

  .drk {
    margin-left: 8%;
    margin-top: 10%;
    width: auto;
    height: 600px;
  }

  .tak {
    width: 100%;
    height: auto;
    margin-top: 10%;

  }

  .cak {
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .don {
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .coo {
    margin-left: 7%;
    margin-top: 10%;
    width: 40%;
    height: 600px;
    margin-bottom: 10px;
  }

  .line {
    margin: auto;
    margin-top: 20%;
    width: 100%;
    border-bottom: 2px solid rgb(247, 247, 247);
  }

  .line1 {
    margin: auto;
    margin-top: 550px;
    width: 100%;
    border-bottom: 2px solid rgb(247, 247, 247);
  }

  .bur {
    margin-top: 10%;
    width: 100%;
    height: auto;
  }

  .navbar {
    margin-top: -30px;
    background-color: #000000 !important;
    z-index: 2;
    position: fixed;
    width: 100%;
  }

  .btn{
    font-family:'Azonix';
    margin-right: 10px;
    color: black;
    background-color: whitesmoke;
    border-color: black;
  }

  .btn:hover {
    box-shadow: 2px 2px 5px rgb(7, 7, 7);
   background-color: #faf8f8;
  }

  .col-md-8 {
    height: auto;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    color: rgb(245, 245, 245);
    font-size: 65px;
    font-weight: bold;
  }
  .col-md-4 {
    height: auto;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    float: left;
    color: rgb(245, 245, 245);
    word-break: keep-all;
    margin-top: 15%;
  }