 <nav class="navbar navbar-expand-lg navbar-light bg-light border-dark">
            <img class="" [src]=myimage2 width="auto" height="80">
                <ul class="navbar-nav mr-auto">
                </ul>
                  <button class="btn" type="submit" (click)="singin()">Sign in</button>
            </nav>
            <div class="container">
            <div class="col-md-8 offset-md-1">
               We will give you the BEST FOOD STORE! in metro manila
            </div>
            <div class="line"></div>
            <div class="col-md-4 offset-md-1">
              <p>FodMarket is a website that will help the owners publish their store in internet, also helping people to find quality food </p>
            </div>
            <div class="col-md-4 offset-md-1">
              <p>You can visit different store and see the ratings to ensure your needs, we can give your craving satisfy</p>
            </div>
            <br>
            <div class="line1"></div>
            <img class="bur" [src]=myimage3>
            <br>
            <img class="tak" [src]=myimage9>
            <br>
            <img class="cak" [src]=myimage8>
            <br>
            <img class="don" [src]=myimage7>
            <br>
            <img class="drk" [src]=myimage1>
            <img class="drk" [src]=myimage4>
            <br>
            <!-- <img class="coo" [src]=myimage5>
            <img class="coo" [src]=myimage6> -->
          </div>

