body {
    margin: auto;
}

.container {
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 10px;
    width: 100%;
    margin-top: 70px;
}

.con h1 {
    font-size: 60px;
    // font-weight: bold;
    font-family:'Rockwell';
    color: rgb(165, 101, 6);
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    
}

.sl {
    margin-left: 20px;
    margin-bottom: 20px;
    width: auto;
    height: 190px;
}

.con {
    margin-left: 20px;
}